@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #3b3b1a;
  --color-secondary: #C5BD71;
  --color-tetiary: #4F6D3B;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --font-header: var(--font-josefin);
  --font-body: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-popup-content p {
    margin: 0 !important;
    padding: 0 !important;
}

button {
  cursor: pointer;
}
